<% content_for :geo do%>
  <%= render :partial => '/layouts/geo' %>
<% end %> 
<h1>New contact</h1>

<% form_for(@contact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :gg, "Gadu-gadu" %><br />
    <%= f.text_field :gg %>
  </p>
  <p>
    <%= f.label :homepage %><br />
    <%= f.text_field :homepage %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>

<p>
    <%= label :address,"street","Street" %><br />
    <%= text_field_tag :address %>    
  </p>
  <p>
    <%= label :address,"locality","Locality" %><br />
    <%= text_field_tag:address %>  
  </p>
  <p>
    <%= label :address,"city","City" %><br />
    <%= text_field_tag:address %>  
  </p>   
  <p>
    <%= label :address,"state","State" -%><br />
    <%= text_field_tag :address %>      
  </p>   
  <p>
    <%= label :address,"country","Country Name" -%><br />
    <%= text_field_tag :address %>
  </p>  
  <p>
    <%= label :address,"zip","Postal Code" -%><br />
    <%= text_field_tag :address %>
  </p> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

