<h1>New contact</h1>

<% form_for(@contact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :gg, "Gadu-gadu" %><br />
    <%= f.text_field :gg %>
  </p>
  <p>
    <%= f.label :homepage %><br />
    <%= f.text_field :homepage %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>


<% form_tag('#') do %>
  <p>
    <%= label :address,"street","Street" %><br />
    <%= street_field :address, "street" %>    
  </p>
  <p>
    <%= label :address,"locality","Locality" %><br />
    <%= locality_field :address, "locality" %>  
  </p>
  <p>
    <%= label :address,"city","City" %><br />
    <%= city_field :address, "city" %>  
  </p>   
  <p>
    <%= label :address,"state","State" -%><br />
    <%= state_field :address, "state" %>      
  </p>   
  <p>
    <%= label :address,"country","Country Name" -%><br />
    <%= country_name_field :address, "country" %>
  </p>  
  <p>
    <%= label :address,"zip","Postal Code" -%><br />
    <%= postal_code_field :address, "zip" %>
  </p> 
    
<% end %> 

