<% content_for :last do%>
  <%= render :partial => '/layouts/last' %>
<% end %> 

<p>
  <%= gravatar_image_tag(@contact.email) %>   
</p>

<p>
  <b>First name:</b>
  <%=h @contact.first_name %>
</p>

<p>
  <b>Surname:</b>
  <%=h @contact.surname %>
</p>

<p>
  <b>Email:</b>
  <%=h @contact.email %>
</p>

<p>
  <b>GG:</b>
  <%=h @contact.gg %>
</p>

<p>
  <b>Homepage:</b>
  <%=h @contact.homepage %>
</p>

<p>
  <b>Phone:</b>
  <%=h @contact.phone %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %>
